# Django y dependencias principales
Django==5.2.4
asgiref==3.9.1
sqlparse==0.5.3
tzdata==2025.2

# Base de datos
psycopg2-binary==2.9.10
dj-database-url==3.0.1

# REST Framework y autenticación
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
PyJWT==2.10.1

# CORS y filtros
django-cors-headers==4.7.0
django-filter==25.1

# Campos y formularios
django-crispy-forms==2.4
crispy-bootstrap5==2024.10
django-colorfield==0.14.0
django-nested-admin==4.1.1  # ✅ Versión corregida

# Imágenes
Pillow==11.3.0

# Validaciones y utilidades
python-decouple==3.8
python-dateutil==2.9.0.post0

# Documentación API
drf-spectacular==0.28.0

# Producción
django-debug-toolbar==5.2.0
gunicorn==23.0.0
whitenoise==6.8.2
